.logo-area {
   display: flex;
   align-items: center;

   border-right: 1px solid #888;
   border-bottom: 1px solid #888;

   background-color: #fff;
}

.main-title-area {
   width: 60%;
   padding-left: 5px;

   font-size: 17px;
   font-weight: 700;
   text-align: center;
}

.menu-area {
   padding: 15px 12px;

   background-color: #678;

   cursor: pointer;
}

.menu-title {
   display: flex;

   margin-top: 6px;
   margin-bottom: 6px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;

   transition: all ease 0.1s;

   color: #fff;

   font-size: 14px;
   font-family: "Roboto";
   letter-spacing: 1px;
}

.menu-item {
   display: flex;

   margin-left: 29px;
   margin-bottom: 5px;

   border: 1px solid #000;
   border-radius: 5px;
}

.menu-title:hover {
   color: #fff;
   background-color:var(--logotipo-1);
}
